* {
    margin: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    
}

.header {
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    background-position: contain;
    background-size: cover;
}

.header-position {
    text-align: right;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    padding-top: 200px;
    padding-right: 200px;

}

.header-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-right: 200px;
    margin-top: 24px;
}

.primary-btn {
    color: white;
    background-color: rgb(248, 105, 112);
    font-weight: 600;
    font-size: 20px;
    margin-right: 200px;
    margin-top: 32px;
    width: 160px;
    height: 64px;  
    border: 0;
    border-radius: 5px;
}

.primary-btn:hover {
    background-color: rgb(255, 191, 52);
}

/* Section 1 Starts*/
.section1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 150px;


}

.sec-1-container { 
    margin-top: 300px;
    margin-right: 300px;
    height: 300px;
    width: 300px;
    padding-top: 60px;
    text-align: left;
}


.sec-1-container li {
    list-style: none;


}

.sec-1-container li:before {
    content: '✔';
    color: rgb(15, 150, 11);
    font-size: 20px;
}


.sec-1-title {
    margin-bottom: 10px;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700px;
    text-align: left;
}

.sec-description {
    text-align: left;
    font-weight: 500px;
    font-size: 40px;
}

.sec-1-img {


    margin-top: 100px;
    margin-left: 160px;
}

.ul-sec-1 {
    text-align: left;

}

/* section-2 starts */
.section-2 {
    margin: 0 230px;
}

.sec-2-container {
    display: flex;
    margin:80px auto 0;
    

}

.sec-2-title {
    margin: 190px auto 0;
    font-size: 40px;
    text-align: center;
}

.sec-2-info {
    width: 500px;
    
    text-align: center;
    margin: 55px auto 0;
    
}

.sec-2-info-img {
    margin-bottom: 20px;
    
}

.sec-2-info-title {

    margin-bottom: 20px; 
    font-size: 30px;
    font-style: bold;
}

.sec-2-info-description {

    
    margin-bottom: 16px; 
    font-size: 25px;
    font-weight: 500px;
    color: rgb(78, 77, 77);

}

/* section 3 starts */

.section-3-main-header {
    margin-top: 190px;
    font-size: 40px;
    text-align: center;
}

.sec-3-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

.sec-3-div {

    padding-top: 60px;
    text-align: left;
    height: 300px;
    width: 300px;

}

.sec-3-title {
    color: rgb(236, 64, 12);
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700px;
    text-align: left;
}

.sec-3-decription {
    text-align: left;
    font-weight: 500px;
    font-size: 30px;
}

.sec-3-img {

    height: 400px;
    width: 400px;
    border-radius: 5px;

}

/* section4 */
.sec-4-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 100px;
}

.sec-4-div {

    padding-top: 60px;
    text-align: left;
    height: 300px;
    width: 300px;

}

.sec-4-title {
    color: rgb(236, 64, 12);
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700px;
    text-align: left;
}

.sec-4-decription {
    text-align: left;
    font-weight: 500px;
    font-size: 30px;
}

.sec-4-img {

    height: 400px;
    width: 400px;
    border-radius: 5px;

}

/* section-5 starts */

.sec-5-info {
    margin: 165px auto 130px;
    width: 1140px;
    height: 300px;
    background-image: url(images/watch.png), linear-gradient(to right,
            rgb(241, 91, 34) 0%,
            rgba(241, 91, 34, 0) 100%);
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center;
    border-radius: 8px;

}

.sec-5-title {
    padding-top: 50px;
    padding-left: 60px;

}

button {

    color: rgb(238, 79, 5);
    font-weight: 600;
    font-size: 20px;
    margin-top: 32px;
    width: 160px;
    height: 64px;
    background-color: rgb(255, 255, 255);
    margin-right: 200px;
    border: 0;
    border-radius: 5px;

}

button:hover {
    background-color: rgb(255, 191, 52);
}

/* footer */

.footer-info {
    display: flex; 
    background-color: rgb(8, 8, 8);
    justify-content: space-around; 
    
}

.footer-info-title {

    color: rgb(250, 253, 255);
    font-size: 45px;
    font-style: bold;
    line-height: 53px;
    margin: 130px 0 16px;

}

.footer-des-1 {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;

}
.footer-des-2 {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;

}
.footer-des-3 {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;

}

.footer-img{
   margin-right: 15px;
   margin-bottom: 150px;
}
.form{
    align-content: center;
}

.form-title{
    color: aliceblue;
    font-size: 25px;
    font-weight: 900px;
    margin: 130px 0 30px;
}
#form-email {
    
    width: 300px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-left: 20px;
    border: 1px solid white;
    border-radius: 8px;
}
.form-btn{
    color: rgb(238, 79, 5);
    font-weight: 600;
    font-size: 20px;
    margin-top: 16px;
    width: 170px;
    height: 64px;
    background-color: rgb(255, 255, 255);
    margin-right: 200px;
    border: 0;
    border-radius: 8px;
}